<%- include("partials/head", {title: "Agregar publicación | Argentina Programa"}) %>

<body class="flex flex-col min-h-screen bg-gray-100 dark:bg-gray-800">
	<%- include("./partials/navbar") %>

	<main class="container mx-auto grow py-4 max-w-3xl">
		<h2 class="text-2xl dark:text-gray-50 text-slate-950 mb-3">
		<% if (postToEdit) { %> Editar publicación <% } else { %> Nueva publicación <% } %>
</h2>
		<form
			action="<%= postToEdit ? "/editPost" : "/newPost" %>"
			method="POST"
			class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4  border border-gray-200 mx-auto dark:border-gray-600 dark:bg-gray-700">

			<!-- Post ID (Only to edit) -->
			<% if (postToEdit) { %> 
				<input name="id" type="hidden"
				value="<%= postToEdit?.id %>"
				 />
			<% } %>

			<!-- POST TITLE -->
			<div class="mb-4">
				<label
					class="block dark:text-gray-50 text-slate-950 text-sm font-bold mb-2"
					for="title">
					Título del post
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 
				leading-tight focus:outline-none focus:shadow-outline" id="title" name="title" type="text"
				placeholder="Mi publicación" value="<%= postToEdit?.title ? postToEdit.title : "" %>"
				required />
			</div>

			<!-- POST CONTENT -->
			<div class="mb-4">
				<label
					class="block dark:text-gray-50 text-slate-950 text-sm font-bold mb-2"
					for="content">
					Contenido del post
				</label>
				<textarea
					class="shadow appearance-none border rounded w-full py-2 px-3  leading-tight focus:outline-none focus:shadow-outline"
					id="content"
					name="content"
					placeholder="Esta publicación trata de..."
					required>
<%= postToEdit?.content ? postToEdit.content.trim() : "" %></textarea
				>
			</div>

			<!-- POST IMAGE -->
			<div class="mb-4">
				<label
					class="block dark:text-gray-50 text-slate-950 text-sm font-bold mb-2"
					for="image_url">
					Link para visualizar una imagen del post (URL de la imagen)
				</label>
				<input class="shadow appearance-none border rounded w-full py-2 px-3 
				leading-tight focus:outline-none focus:shadow-outline" id="image_url" type="text"
				name="imageUrl" value="<%= postToEdit?.imageUrl ? postToEdit.imageUrl : "" %>"
				placeholder="www.imagendeejemplo.com/imagen.png" />
			</div>
			<div class="flex items-center justify-start gap-4">
				<button
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
					type="submit">
					<%= postToEdit ? "Editar post" : "Crear post" %>
				</button>
				<a
					href="/"
					class="hover:underline dark:text-gray-50 text-slate-950"
					>Volver</a
				>
			</div>
		</form>
	</main>

	<%- include("partials/footer", {className: "grow"}) %>
</body>
