<%- include("partials/head", {title: "Argentina Programa"}) %>

<body class="flex flex-col min-h-screen">
	<%- include("./partials/navbar") %>

	<main class="container mx-auto grow py-4">
		<header>
			<h1 class="text-3xl">Bienvenido al Foro</h1>
			<p>¡Únete a la conversación!</p>
			<p>
				<a
					href="/new-post"
					class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
					>Crear publicación</a
				>
			</p>
		</header>
		<!-- Publicaciones del foro aquí -->
		<% if (posts && posts.length > 0) { %>
		<ul>
			<% posts.forEach(function(post) { %>
			<li>
				<h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
				<p><%= post.content %></p>
				<p>Img: <%= post.imageUrl %></p>
			</li>
			<% }); %>
		</ul>
		<% } else { %>
		<p class="text-red-500">No hay publicaciones disponibles.</p>
		<% } %>
	</main>

	<%- include("partials/footer") %>
</body>
